.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

*.tfvars
*.tfvars.json
!*.tfvars.example
!*.tfvars.json.example

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.env
.env.*
!.env.example

.DS_Store
.idea/
.vscode/
